{% extends 'base.html' %}
{% block base %}
<link href="static/s.css" rel="stylesheet" type="text/css">
<div class="jumbotron"style="background: #F0FFFF;">

    <h1> Cat </h1>
          <img src={{url_for('static',filename='catss.png')}} width="30%",>
          <h2>The domestic cat, or house cat, is a small mammal that has lived among people for thousands of years. People have kept cats as pets, used them as hunters, and even worshipped them as gods. Domestic cats belong to the same animal family as the lion, tiger, jaguar, leopard, puma, and cheetah. The scientific name of the domestic cat is Felis catus.</h2>
</div>
{%endblock%}