{% extends 'base.html' %}
{% block base %}

<div class="jumbotron"style="background: #F0FFF0;">
<input type="button" id="dv" class="btn" onclick="window.location.href = 'croc';" value="English"/>
      <font size="6" color="#696969" face="fantasy">
    <h1> Крокодил </h1>
          <img src={{url_for('static',filename='crocs.png')}} width="40%",>
          <h2>Крокодил — велика земноводна рептилія. Мешкає переважно у великих тропічних річках, де є хижаком із засідки. Один вид, австралійський солончак, також подорожує в прибережній солоній воді. У дуже сухому кліматі крокодили можуть насолоджуватися і спати сухий сезон. Сучасний тип крокодила з'явився вперше в еоценовому періоді, але його предки йдуть набагато далі, до верхнього тріасу. Ім'я «Крокодил» також використовується для будь-якого представника загону Крокоділії. В основному це архозаври, група, до якої також входять динозаври. Існує багато видів крокодилів, включаючи американського, тонкомордого та оріноко. Крокодил може швидко і з великою силою стиснути щелепу. Але крокодили мають дуже мало сили розкривати щелепи, і людина могла тримати щелепу закритою руками. Розміри крокодилів варіюються від африканських карликових крокодилів, розмір яких рідко перевищує 5 футів, до морських крокодилів, які можуть наближатися до 23 футів.</h2>
</div>
{%endblock%}