{% extends 'base.html' %}
{% block base %}
<div class="jumbotron"style="background: #FFE4E1;">
      <font size="6" color="#696969" face="Comic Sans MS, Comic Sans">
    <h1> Dog </h1>
          <img src={{url_for('static',filename='dogs.png')}} width="35%",>
          <h2>The dog is a mammal with sharp teeth, an excellent sense of smell, and a fine sense of hearing. Each of its four legs ends in a foot, or paw, with five toes. Each toe has a soft pad and a claw.
              A coat of hair keeps the dog warm. It cools off by panting and hanging its tongue out of its mouth.Apart from these common features, dogs come in many different sizes, shapes, and colors. Dogs that have similar sizes, looks, and behaviors make up groups called breeds. There are more than 400 different breeds of dog. (A dog with parents of different breeds is called a mongrel or a mutt.) Some of the most popular breeds are beagles, boxers, bulldogs, collies, dachshunds, Dalmatians, German shepherds, golden retrievers, Labrador retrievers, pit bull terriers, poodles, pugs, Rottweilers, Scottish terriers, shih tzus, Siberian huskies, and Yorkshire terriers.

Different breeds range from very small to very large. A Chihuahua may weigh only 1 pound (0.5 kilogram) and stand about 5 inches (13 centimeters) high. A Great Dane may weigh 150 pounds (68 kilograms) and stand about 30 inches (76 centimeters) high.</h2>
</div>
{%endblock%}