{% extends 'base.html' %}
{% block base %}
<link href="static/s.css" rel="stylesheet" type="text/css">
<div id='kik' style="background: #FAEBD7;">
    <form>

         <input type="button" id="uy" class="btn btn-danger" onclick="window.location.href = '/myfox';" value="Get a fox"/>
    </form>
        <h1> Fox </h1>
        <div id="gta">
          <img src={{url_for('static',filename='fox.png')}} height="300",>
        </div>
        <div id="gtu">
          <h2>Foxes are mammals that look like small, bushy-tailed dogs. They live all over the world. Different kinds favor different habitats. The red fox likes farmland. The gray fox lives in forests. The silver fox is found in cold areas. The Arctic fox lives near the North Pole.

              Foxes have pointed ears, short legs, and a narrow snout. They are about 32 to 57 inches (81 to 145 centimeters) long, including the tail. Foxes usually weigh 6 to 17 pounds (3 to 8 kilograms). They have long fur that varies in color. Red foxes are reddish brown. Silver foxes are black with gray-tipped hair. The Arctic fox is brownish in the summer and white in the winter.</h2>
        </div>

</div>


{%endblock%}